In [18]:
import requests
import pandas as pd
import io

In [19]:
url = 'https://data.cityofchicago.org/resource/ijzp-q8t2.json'

In [20]:
try:
    response = requests.get(url)    
except Exception as e:
    print(f"Error: {e}")

In [21]:
if response.status_code == 200:
    json_data = response.json()
    # Now you can work with the JSON data
else:
    print(f"Error fetching data. Status code: {response.status_code}")

In [23]:
df_nested = pd.DataFrame.from_dict(pd.json_normalize(json_data), orient="columns")
df_nested.head()

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,:@computed_region_vrxf_vc4k,:@computed_region_bdys_3d7i,:@computed_region_43wa_7qmu,:@computed_region_rpca_8um6,:@computed_region_d9mm_jgwp,:@computed_region_d3ds_rm58,:@computed_region_8hcu_yrd4,location.latitude,location.longitude,location.human_address
0,13383320,JH169690,2024-02-29T00:00:00.000,011XX S STATE ST,1350,CRIMINAL TRESPASS,TO STATE SUP LAND,CTA TRAIN,True,False,...,38,12,10,35,22,144,9,41.868165405,-87.62743954,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."
1,13383971,JH170493,2024-02-29T00:00:00.000,035XX S RHODES AVE,1320,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,...,1,561,10,36,24,101,9,41.830859172,-87.614478749,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."
2,13384053,JH170444,2024-02-29T00:00:00.000,025XX W 115TH PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,True,...,74,379,42,33,9,257,19,41.683578042,-87.685066062,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."
3,13384677,JH171112,2024-02-29T00:00:00.000,017XX W NORTH SHORE AVE,0910,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,...,10,242,5,9,11,41,49,42.003500665,-87.673351733,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."
4,13388106,JH175477,2024-02-29T00:00:00.000,079XX S ELLIS AVE,1750,OFFENSE INVOLVING CHILDREN,CHILD ABUSE,APARTMENT,False,True,...,40,247,35,61,20,227,10,41.750378603,-87.600311872,"{""address"": """", ""city"": """", ""state"": """", ""zip""..."

In [25]:
df_nested[:10000].to_csv('chicago_crime.csv',index = False)

In [40]:
print(df_nested.head(10))

         id case_number                     date                    block  \
0  13383320    JH169690  2024-02-29T00:00:00.000         011XX S STATE ST
1  13383971    JH170493  2024-02-29T00:00:00.000       035XX S RHODES AVE
2  13384053    JH170444  2024-02-29T00:00:00.000         025XX W 115TH PL
3  13384677    JH171112  2024-02-29T00:00:00.000  017XX W NORTH SHORE AVE
4  13388106    JH175477  2024-02-29T00:00:00.000        079XX S ELLIS AVE
5  13384048    JH170672  2024-02-29T00:00:00.000         011XX W LUNT AVE
6  13383976    JH170500  2024-02-29T00:00:00.000       019XX W WOLFRAM ST
7  13383499    JH169801  2024-02-29T00:00:00.000        069XX S DAMEN AVE
8  13384023    JH170649  2024-02-29T00:00:00.000     100XX W BALMORAL AVE
9  13389327    JH176883  2024-02-29T00:00:00.000      011XX N DEARBORN ST

   iucr                primary_type                     description  \
0  1350           CRIMINAL TRESPASS               TO STATE SUP LAND
1  1320             CRIMINAL DAMAGE                      TO VEHICLE
2  2825               OTHER OFFENSE         HARASSMENT BY TELEPHONE
3  0910         MOTOR VEHICLE THEFT                      AUTOMOBILE
4  1750  OFFENSE INVOLVING CHILDREN                     CHILD ABUSE
5  2826               OTHER OFFENSE  HARASSMENT BY ELECTRONIC MEANS
6  0820                       THEFT                  $500 AND UNDER
7  0920         MOTOR VEHICLE THEFT            ATTEMPT - AUTOMOBILE
8  0810                       THEFT                       OVER $500
9  0890                       THEFT                   FROM BUILDING

                             location_description  arrest  domestic  ...  \
0                                       CTA TRAIN    True     False  ...
1                                          STREET   False     False  ...
2                                       RESIDENCE   False      True  ...
3                                          STREET   False     False  ...
4                                       APARTMENT   False      True  ...
5                                       APARTMENT   False     False  ...
6                                          STREET   False     False  ...
7          PARKING LOT / GARAGE (NON RESIDENTIAL)   False     False  ...
8  AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA   False     False  ...
9                                       APARTMENT   False     False  ...

  :@computed_region_vrxf_vc4k :@computed_region_bdys_3d7i  \
0                          38                          12
1                           1                         561
2                          74                         379
3                          10                         242
4                          40                         247
5                          10                         267
6                          46                         649
7                          65                         283
8                          75                         NaN
9                          37                         230

  :@computed_region_43wa_7qmu :@computed_region_rpca_8um6  \
0                          10                          35
1                          10                          36
2                          42                          33
3                           5                           9
4                          35                          61
5                           5                           9
6                          40                          22
7                          31                          23
8                          29                          38
9                          11                          54

  :@computed_region_d9mm_jgwp :@computed_region_d3ds_rm58  \
0                          22                         144
1                          24                         101
2                           9                         257
3                          11                          41
4                          20                         227
5                          11                          39
6                           5                         172
7                          17                           7
8                          12                          40
9                          14                         197

  :@computed_region_8hcu_yrd4 location.latitude location.longitude  \
0                           9      41.868165405       -87.62743954
1                           9      41.830859172      -87.614478749
2                          19      41.683578042      -87.685066062
3                          49      42.003500665      -87.673351733
4                          10      41.750378603      -87.600311872
5                          49      42.009201971      -87.660867106
6                          32      41.933219451      -87.676325969
7                          17      41.768213543      -87.673617146
8                          41      41.976182125      -87.876421145
9                           2      41.902670403      -87.629946882

                              location.human_address
0  {"address": "", "city": "", "state": "", "zip"...
1  {"address": "", "city": "", "state": "", "zip"...
2  {"address": "", "city": "", "state": "", "zip"...
3  {"address": "", "city": "", "state": "", "zip"...
4  {"address": "", "city": "", "state": "", "zip"...
5  {"address": "", "city": "", "state": "", "zip"...
6  {"address": "", "city": "", "state": "", "zip"...
7  {"address": "", "city": "", "state": "", "zip"...
8  {"address": "", "city": "", "state": "", "zip"...
9  {"address": "", "city": "", "state": "", "zip"...

[10 rows x 33 columns]

## ArcGIS

In [30]:
from arcgis.gis import GIS
from arcgis.features import GeoAccessor, GeoSeriesAccessor
import pandas as pd
import arcgis

In [35]:
# Load the dataset
crime_data_path = 'chicago_crime.csv'
crime_df = pd.read_csv(crime_data_path)

# Display the first few rows to check the data
# print(crime_df.head())

# Ensure latitude and longitude are numeric
crime_df['latitude'] = pd.to_numeric(crime_df['latitude'], errors='coerce')
crime_df['longitude'] = pd.to_numeric(crime_df['longitude'], errors='coerce')

# Drop rows with missing coordinates
crime_df.dropna(subset=['latitude', 'longitude'], inplace=True)

sdf = pd.DataFrame.spatial.from_xy(crime_df, 'longitude', 'latitude', sr=4326)

In [36]:
gis = GIS()

In [37]:
chicago_map = gis.map('Chicago, IL', zoomlevel=12)

# Plot the crime data
for index, row in sdf.iterrows():
    chicago_map.draw([row['latitude'], row['longitude']], 
                     popup={'title': 'Crime Type', 'content': row['primary_type']})

chicago_map

MapView(layout=Layout(height='400px', width='100%'))

In [38]:
from IPython.display import display

# Assuming 'chicago_map' is your map variable
display(chicago_map)

MapView(layout=Layout(height='400px', width='100%'))